@font-face {
    font-family: Vazir;
    src: url('../fonts/Vazir.woff')
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Vazir, sans-serif;
}


html, body {
    width: 100%;
    height: 100%;
    direction: rtl;
    position: relative;
}

a, a:hover {
    text-decoration: none;
}

h1, h2, h3, p {
    color: #7C5F59
}

header {
    height: 150px;
    z-index: 1;
}

.logo {
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 100;
}

.nav-link {
    font-size: 1.2vw;
    font-weight: bold;
}

.banner-inside {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/*.banner-btn {*/
/*    padding: 2% 5%;*/
/*    font-size: 2vw;*/
/*    border-radius: 10px;*/
/*    background-color: #36B5B1;*/
/*    color: #ffffff;*/
/*    transition: 0.3s;*/
/*}*/

/*.banner-btn:hover {*/
/*    color: #ffffff;*/
/*    background-color: #bb652d;*/
/*    opacity: .8;*/
/*}*/

.vacation {
    background-color: #EFF0ED;
}


.massage-effects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 2fr));
    gap: 5px;
    background-color: #EFF0ED
}

.services {
    margin-bottom: 100px;
}

.slide-desc {
    width: 40%;
    height: 200px;
    background-color: #fff;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translate(0, -50%);
}

.about-therapist {
    right: 0;
    z-index: 10;
}


.about-therapist h1 {
    width: 250px;
    font-size: 2.5rem;
}

.about-therapist p {
    width: 300px;
}

.about-therapist p:first-child {
    font-size: 1.375rem;
}


.about-therapist p:nth-child(2) {
    font-size: 1.125rem;
}

.therapist-img {
    width: 550px;
    height: 420px;
    z-index: 9;
    left: 0;
}


.fact-about-me p {
    list-style: disc;
}

.image-layer {
    width: 50%;
    height: 80%;
    background-color: rgba(255, 255, 255, .8);
    top: 0;
    right: 0;
    z-index: 1;
    direction: rtl;
}


.image-layer + h2 {
    width: 250px;
    top: 15%;
    right: 10%;
    z-index: 10;
}

.philosophy-desc {
    width: 400px;
    top: 25%;
    right: 10%;
    z-index: 10;
}

.people-say p {
    font-size: 1.75rem;
}

.quote-slider {
    height: 280px;
}

.quote-slider p {
    width: 75%;
    margin: 0 auto;
}

.swiper-button-prev::after, .swiper-button-next::after {
    color: #36B5B1;
}

.swiper-pagination span {
    background-color: #36B5B1;
}

.contact-img {
    filter: blur(2px);
}

.contact-title {
    top: 30%;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: #fff;
    z-index: 10;
    border-radius: 3px;
}

.contact-number {
    top: 40%;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: #EFF0ED;
    z-index: 1;
    border-radius: 3px;
}


/*** media queries ***/
@media only screen and (min-width: 1200px) {
    .logo {
        display: block !important;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1300px) {
    .logo > img {
        margin-right: 50px !important;
    }
}


@media only screen and (min-width: 320px) and (max-width: 599px) {
    .nav-link {
        font-size: 5vw;
    }
}

@media only screen and (min-width: 600px) and (max-width: 820px) {
    .nav-link {
        font-size: 3vw;
    }
}


@media only screen and (min-width: 820px) and (max-width: 1200px) {
    .nav-link {
        font-size: 2vw;
    }
}


@media only screen and (max-width: 1199px) {
    nav {
        background-color: #eee;
    }

    .nav-item {
        width: 100%;
        transition: all .3s;
    }

    .nav-item:not(:last-child) {
        border-bottom: 1px solid #fff;
    }

    .nav-item:active {
        background-color: #fff;
    }

    .nav-link {
        font-weight: 500;
        text-align: center;
    }
}

@media only screen and (max-width: 972px) {
    .banner-inside h1, .vacation h1, .services h1, .about-therapist h1 {
        font-size: 2rem;
    }

}

@media only screen and (min-width: 796px) {
    .vacation h3 {
        font-size: 1rem;
    }
}


@media only screen and (max-width: 796px) {
    .banner-inside h1, .vacation h1, .services h1, .about-therapist h1 {
        font-size: 1.7rem;
    }

    .banner-inside h3 {
        font-size: 1.4rem;
    }

    .vacation h3 {
        font-size: 1rem;
    }
}


@media only screen and (max-width: 550px) {
    .banner-inside h1, .vacation h1, .services h1, .about-therapist h1 {
        font-size: 1.4rem;
    }

    .banner-inside h3 {
        font-size: 1.1rem;
    }

    .vacation h3 {
        font-size: 0.88rem;
    }
}

@media only screen and (max-width: 450px) {
    .banner-inside h1, .vacation h1, .services h1, .about-therapist h1 {
        font-size: 1.1rem;
        padding-top: 1rem;
    }

    .banner-inside h3 {
        font-size: 0.9rem;
    }

    .vacation h3 {
        font-size: 0.78rem;
    }
}


@media only screen and (max-width: 400px) {
    .banner-inside h1, .vacation h1, .services h1, .about-therapist h1 {
        width: 100%;
        font-size: 1rem;
        padding-top: 1.5rem;
    }

    .banner-inside h3 {
        font-size: 0.8rem;
    }

    .vacation h3 {
        font-size: 0.68rem;
    }

    .banner-inside svg {
        display: none;
    }
}


@media only screen and (max-width: 1220px) {
    .about-therapist-container {
        flex-direction: column;

    }

    .about-therapist {
        width: 100% !important;
        padding-top: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .therapist-img {

    }
}
