* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html, body {
    width: 100%;
    height: 100%;
    direction: rtl;
}

a, a:hover {
    text-decoration: none;
}


header {
    height: 385px;
}

.logo {
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 100;
}

.nav-link {
    font-size: 22px;
    font-weight: bold;
}

@media only screen and (min-width: 1200px) {
    .logo {
        display: block !important;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1300px) {
    .logo > img {
        margin-right: 50px !important;
    }
}


@media only screen and (max-width: 1199px) {
    nav {
        background-color: #eee;
    }

    .nav-item {
        width: 100%;
        transition: all .3s;
    }

    .nav-item:not(:last-child) {
        border-bottom: 1px solid #fff;
    }

    .nav-item:active {
        background-color: #fff;
    }

    .nav-link {
        font-size: 24px;
        font-weight: 500;
        text-align: center;
    }
}
